<!-- <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="admin-header" routerLinkActive="active" class="nav-link">Real Pizza</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-pizza" routerLinkActive="active" class="nav-link">Add New Item</a>
        </li>
        <li class="nav-item">
            <a routerLink="admin-menu" routerLinkActive="active" class="nav-link">Menu</a>
        </li>
        
        <li class="nav-item">
            <div class="col-md-12 text-right">
                <div class="cart_icon" >
            <a routerLink="cart" routerLinkActive="active" class="nav-link">Cart</a>
            <i class="fa fa-shopping-cart"></i>
            <div class="cart_value">2</div>
        
    </div>
</div>
        </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
 -->




 <header class="nav-bar">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-md-3">
    <a routerLink="page" routerLinkActive="active" class="nav-link"><img src="assets/images/realpizza-logo.png" height="70px" class="puca"></a>
                </div>



<div class="col-md-1">
    <button class="shadow"
        routerLink="admin-menu">
        Menu
    </button>&nbsp;
    </div>


    <div class="col-md-1">
        <button class="shadow"
            routerLink="dashboard">
            DashBoard
        </button>
        </div>

    
</div>
</div>

    </div>
</header>