

<body style="background-color: rgb(207,195 ,195);">
<div class="row">
  <div class="col-xl-3">
  <app-admin-sidenav></app-admin-sidenav>
  </div>
<div class="col-xl-9">
    <router-outlet></router-outlet>
</div>
</div>

<!-- 
<div class="col-xl-3">
           
    <select class="input" type="text" formControlName="road" [(ngModel)]="formData.road" name="road" required placeholder="Road">
        <option value="kirindiwela">Pizza</option>
        <option value="Maligawaththa">Burger</option>
        <option value="Diyawala">Submarine</option>
        <option value="delovita" >Dessert</option>
        <option value="Mandawala">Crispy chicken</option>
        <option value="Mandawala">Beverages</option>
        
      </select> 
        </div> -->
</body>